/*------------------------------*/
/* Helper Classes               */
/*------------------------------*/
.left { float : left !important; }
.right { float : right !important; }
.clear { clear : both !important; }

/*------------------------------*/
/* Layout                       */
/*------------------------------*/
.page { margin : 10px; }

/*LOGIN STUFF GOES HERE*/

#header { overflow : hidden; margin-bottom : 5px; height : 45px; }
#header .left { width : 400px; }
.headerTitles { display : inline-block; padding-left : 4px; }
.mainTitle { margin-top : 2px; font-size : 26px; font-style : italic; }
.subTitle { margin-top : 2px; padding : 4px; font-size: 16px; font-weight : bold; }
#footer { bottom : 5px; padding-top : 2px; overflow : hidden; position : absolute; width : 100%; }

/*------------------------------*/
/* Menu                         */
/*------------------------------*/
.je_menu { background-color : transparent; border-style : solid; border-color : #000; border-width : 2px 0px; }

/*------------------------------*/
/* Icons                        */
/*------------------------------*/
.icon-delete { background-image : url(../images/skin/exclamation.png) !important; }