/*------------------------------*/
/* Helper Classes               */
/*------------------------------*/
.left { float : left !important; }
.right { float : right !important; }
.clear { clear : both !important; }

/*------------------------------*/
/* Layout                       */
/*------------------------------*/
.page { margin : 10px; }

/*LOGIN STUFF GOES HERE*/

#header { overflow : hidden; }
#header .left { width : 400px; }
/*#header > div { }*/
.headerTitles { display : inline-block; padding-left : 4px; }
.mainTitle { margin-top : 2px; font-size : 22px; font-style : italic; }
.subTitle { marign-top : 2px; font-size: 14px; font-weight : bold; }
#footer { bottom : 5px; padding-top : 2px; overflow : hidden; position : absolute; width : 100%; }